<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Diary</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<form method="post">
  请输入要删除的日记title：<input type="text" name="name"/><br />
         <input type="submit" value="删除"/>
</form>
</body>
</html>