<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Diary</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1>Dairy <%= title %></h1>
<h2>UserName: <%= user %></h2>
<span><a title="list" href="/list">list</a></span>
<span><a title="退出" href="/logout">LOG OUT</a></span>
<span><a title="新增日记" href="/diary">New Diary</a></span>
<span><a title="删除日记" href="/delete">Delete Diary</a></span>
</header>
 
   
    <% if (posts) { %>  
    <% posts.forEach(function(post){ %>  
        <p class="info">
    		title：<%= post.title %> 
  		</p>
      	<p><%= post.post %></p> 
    <% }) %>  
    <% } %>
  

</body>
</html>